<div class="flex flex-wrap mb-6">
  <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@appointment.edit.headline">Edit Appointment</h1>
  <div>
    <a class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2"
       i18n="@@appointment.edit.back"
       routerLink="/appointments">Back to list</a>
  </div>
</div>
<form (ngSubmit)="handleSubmit()" [formGroup]="editForm">
  <app-input-row [group]="editForm" field="id" i18n-label="@@appointment.id.label" label="Id" rowType="number"/>
  <app-input-row [group]="editForm" field="carId" i18n-label="@@appointment.carId.label" label="Car Id"
                 rowType="number"/>
  <app-input-row [group]="editForm" field="appointmentDateTime" i18n-label="@@appointment.appointmentDateTime.label"
                 label="Appointment Date Time"/>
  <app-input-row [group]="editForm" field="notes" i18n-label="@@appointment.notes.label" label="Notes"
                 rowType="textarea"/>
  <app-input-row [group]="editForm"
                 [options]="{'TYRES': 'TYRES', 'ENGINE': 'ENGINE', 'DOOR': 'DOOR', 'BODY': 'BODY', 'MISC': 'MISC'}"
                 field="carServiceType"
                 i18n-label="@@appointment.carServiceType.label"
                 label="Car Service Type" rowType="select"/>
  <input
    class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6"
    i18n-value="@@appointment.edit.headline" type="submit"
    value="Edit Appointment"/>
</form>
